<% include partials/_header %>
<div class="slider_main owl-carousel owl-theme">
	<div class="item">
	  <div class="nav  wow fadeInUp">
	<div class="container">
			
		<div class="header_caption">
			<div class="animated_caption">
			<h1>Pink Shoes <br>	2013 Collection</h1>
			<p>Nunc non fermentum nunc. Sed ut ante eget leo tempor <br>consequat sit amet eu orci. Donec dignissim <br>dolor eget..</p>
			<ul class="caption_button">
				<li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
			</ul>
			<button>$145.99</button>
		</div>
	</div>
	</div>
</div>
	</div>
	<div class="item">
	  <div class="nav navv  wow fadeInUp" data-wow-delay=".8s">
	<div class="container">
		<div class="header_caption">
			<div class="animated_caption">
			<h1>Pink Shoes <br>	2013 Collection</h1>
			<p>Nunc non fermentum nunc. Sed ut ante eget leo tempor <br>consequat sit amet eu orci. Donec dignissim <br>dolor eget..</p>
			<ul class="caption_button">
				<li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
			</ul>
			<button>$145.99</button>
		</div>
		</div>
	</div>
</div>

	</div>
</div>
<!-- <div class="nav  wow fadeInUp">
	<div class="menu btn2" data-menu="2">
		<div class="icon"></div>
	  </div>
	<div class="container">
			<ul class="nav_text">
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Pages</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		<div class="header_caption">
			<h1>Pink Shoes <br>	2013 Collection</h1>
			<p>Nunc non fermentum nunc. Sed ut ante eget leo tempor <br>consequat sit amet eu orci. Donec dignissim <br>dolor eget..</p>
			<ul class="caption_button">
				<li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
			</ul>
			<button>$145.99</button>
		</div>
	</div>
</div> -->




<!--____________________header_______________________________-->
<!--____________________banner_______________________________-->

<div class="main_1_1 wow bounceInUp">
<div class="container">
	<div class="row">
		 <div class="banner owl-carousel owl-theme">
			<div class="item">
				<div class="hovergrid text-center">
					<figure class="effect-bubba">
						<img src="img/thomas-william-u_vAZUydZZk-unsplash.jpg" alt="img02"/>
						<figcaption>
							<h2>ON <span>SALE</span></h2>
						</figcaption>			
					</figure>
				</div>
			</div>
			<div class="item">
				<div class="hovergrid text-center">
					<figure class="effect-bubba">
						<img src="img/constantinos-panagopoulos-DPTFlJ1HhAw-unsplash.jpg" alt="img02"/>
						<figcaption>
							<h2>SPECIAL <span>OFFERS</span></h2>
						</figcaption>			
					</figure>
				</div>
			</div>
			<div class="item">
				<div class="hovergrid text-center">
					<figure class="effect-bubba">
						<img src="img/jeff-kepler-433zGXieqfI-unsplash.jpg" alt="img02"/>
						<figcaption>
							<h2>MUST <span>HAVE</span></h2>
						</figcaption>			
					</figure>
				</div>
			</div>
		  </div>
		<!-- <div class="col-xl-6 text-center col-lg-6 col-md-6 col-sm-6">
			<div class="banner_1">
				<div class="overlay_2"></div>
				<button>ON SALE</button>
			</div>
		</div> -->
		<!-- <div class="col-xl-3 text-center col-lg-3 col-md-3 col-sm-6">
			<div class="banner_2">
				<div class="overlay_2"></div>
				<button>SPECIAL OFFERS</button>
			</div>
		</div> -->
		<!-- <div class="col-xl-3 text-center col-lg-3 col-md-3 col-sm-6">
			<div class="banner_3">
				<div class="overlay_2"></div>
				<button>MUST HAVE</button>
			</div>
		</div> -->
	</div>
</div>
</div>






<!--____________________banner_______________________________-->
<!--____________________start product_______________________________-->
<div class="main_2 wow fadeInUp">
<div class="product">
	<div class="col-xl-12 text-center col-lg-12 col-md-12 col-sm-12">
		<div class="container">
		<h2>PRODUCT</h2>
		<ul class="prouct_caption portfoliomenu">
			<li><a href="JavaScript:Void(0);" data-filter="*">ALL</a></li>
			<li><a href="JavaScript:Void(0);" data-filter=".new">NEW ARRIVALS</a></li>
			<li><a href="JavaScript:Void(0);" data-filter=".best">BEST SELLER</a></li>
		</ul>
	</div>
</div>
	<div class="gallery">
		<div class="cl-xl-12 d-flex col-lg-12 col-md-12 col-sm-12">
			<div class="container">
				<div class="row portfolio-team">
			

					<% ofertados.forEach(function (ofertado) { %>
					<div class="col-xl-3 text-center col-lg-3 col-md-3 col-sm-6 portfolio-item new">
						<div class="img_box_1">
							<a href="product_detail.html"><div class="overlay"></div></a>
							<img src="<%= ofertado.image %>" alt="">
							<div class="p_icon">
								<ul>
									<li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
									<li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<p class="c_p_text">
							<span><%= ofertado.title %></span>
							<br>
							<button>$<%= ofertado.price %></button>
						</p>
					</div>
					<% }) %>



					<% ofertatres.forEach(function (ofertatre) { %>
					<div class="col-xl-3 text-center col-lg-3 col-md-3 col-sm-6 best portfolio-item ">
						<div class="img_box_1">
							<a href="/ofertatresredirect/<%= ofertatre.id %>"><div class="overlay"></div></a>
							<img src="<%= ofertatre.image %>" alt="">
							<div class="p_icon">
								<ul>
									<li><a href="/ofertatresredirect/<%= ofertatre.id %>"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
									<li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<p class="c_p_text">
							<span><%= ofertatre.title %></span>
								<br>
								<button>$<%= ofertatre.price %></button>
						</p>
					</div>
					<% }) %>



				
			</div>
		</div>
	</div>
</div>
</div>






 <% include partials/_footer %>
